<mat-card>
  <mat-table [dataSource]="tableData" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let prize">{{ prize.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let prize">
        <app-inline-edit [value]="prize.name" (change)="updatePrize(prize)"></app-inline-edit>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
      <mat-cell *matCellDef="let prize" class="allow-overflow">
        <mat-checkbox [(ngModel)]="prize.enabled"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="shownColumns"></mat-header-row>
    <mat-row *matRowDef="let prize; columns: shownColumns;"></mat-row>
  </mat-table>
</mat-card>

<button mat-fab class="add-prize-button" (click)="showAddPrizeForm()">
  <mat-icon>add</mat-icon>
</button>