@import '../../../../sass/variables'

.login
	background: $primary
	width: 100vw
	min-height: 100vh

	.container-fluid > .row
		height: 100vh

img.logo
	width: 60%
	padding: 15px 0

mat-form-field
	width: 100%
	padding-top: 10px
