<div class="root">
	<mat-form-field [style.display]="editing ? 'initial': 'none'" >
		<input
			#inputEl
			type="text"
			matInput
			[(ngModel)]="newValue"
			(blur)="cancel($event)"
			(keyup.enter)="save()"
			(keyup.esc)="cancel()">
		<button
			[id]="saveBtnReferenceId"
			mat-button
			matSuffix
			mat-icon-button
			aria-label="Cancel"
			(click)="save()"
			matTooltip="Save"
			matTooltipPosition="above">
			<mat-icon>check</mat-icon>
		</button>
		<button
			mat-button
			matSuffix
			mat-icon-button
			aria-label="Cancel"
			(click)="cancel()"
			matTooltip="Cancel"
			matTooltipPosition="above">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
	<span
		[style.display]="!editing ? 'initial': 'none'"
		(click)="startEditing()"
		tabindex="0"
		(keyup.enter)="startEditing()">
		{{ value }}</span>
</div>
