<div class="admin-container" [class.is-mobile]="isMobile">
	<mat-toolbar color="primary" class="admin-toolbar">
		<button
			mat-icon-button
			(click)="toggleSideNav()"
			class="mobile-menu-button">
			<mat-icon>menu</mat-icon>
		</button>
		<h1>SGF Web Devs</h1>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			class="sidenav"
			[mode]="isMobile ? 'over' : 'side'"
			[(opened)]="sideNavOpened"
			[fixedInViewport]="isMobile"
			fixedTopGap="56">
			<mat-nav-list>
				<a mat-list-item routerLink="/admin/raffle">Raffle</a>
				<a mat-list-item routerLink="/admin/prizes">Prizes</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

